name: Publish to PowerShell Gallery

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  publish:
    runs-on: windows-latest
    env:
      PSGALLERY_API_KEY: ${{ secrets.PSGALLERY_API_KEY }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ github.event.repository.default_branch}}

      - name: Validate and Publish
        run: .\scripts\publish-to-gallery.ps1
