name: Sync GitHub to Gitee

on:
  workflow_dispatch:
  workflow_run:
    workflows:
      - "Update Content"
    types: [completed]

jobs:
  sync-repos:
    runs-on: ubuntu-latest
    steps:
      - uses: Yikun/hub-mirror-action@master
        with:
          src: github/abgox
          dst: gitee/abgox
          dst_key: ${{ secrets.GITEE_SSH_PRIVATE_KEY }}
          dst_token: ""
          force_update: true
          static_list: ${{ github.event.repository.name }}
