name: Update Content

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  update-content:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Update Content
        shell: pwsh
        run: |
          .\scripts\update-content.ps1
          git push
